@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-dark-purple: #221daf;
  --color-light-purple: #5a55d5;
  --color-negative-red: #ef0707;
  --color-positive-green: #0ad611;
  --color-light-red: #ffebf5;
  --color-light-gray: #dddddd;
  --color-lighter-gray: #f2f2f2;
  --color-dark-gray: #636363;
  --alternative-red: #df585a;

  /* Text sizing */
  /* The default fontsize for the aplication is 16px, 1.00rem = 16px (Always set the font size in rem)*/

  --text-h1: 2.25rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-h4: 1.25rem;
  --text-h5: 1rem;
  --text-h6: 0.875rem;

  --text-paragraph: 1rem;
  --text-label: 1rem;
  --text-place-holder: 1rem;
  --text-input: 1rem;
  --text-small: 0.875rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
